.header {
  height: var(--hearder-height);
  background-image: linear-gradient(0, #fe6432, #fe6532);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
}
.navbar__list {
  list-style: none;
}

.navbar__item {
  position: relative;
  margin: 0 8px;
  display: inline-flex;
  align-items: center;
}

.navbar__item:hover,
.navbar__item-link:hover,
.navbar__icon-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.navbar__item,
.navbar__item-link {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;

  color: var(--white-color);
  text-decoration: none; /*remove underline of a tag*/
  cursor: pointer;
}

.navbar__item--bold {
  font-weight: 700;
}

.navbar__item--separate::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -9px;

  display: block;
  height: 16px;
  border-left: 1px solid var(--white-color);
  content: "";
}

.navbar__list,
.navbar__item,
.navbar__item-link,
.navbar__icon-link {
  display: inline-flex;
  align-items: center;
}

.navbar__icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.navbar__icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.navbar__title--no-poniter {
  cursor: text;
  color: var(--white-color);
}

/* Header QR */
.navbar__item--show-qr:hover .header__qr {
  display: block;
}

.header__qr {
  position: absolute;
  top: 150%; /*space 100% height of parent*/
  left: 0;
  width: 186px;

  border-radius: 4px;
  background-color: var(--white-color);
  padding: 4px;
  box-shadow: var(--box-shadow);

  animation: fateIn ease-in 0.3s;
  display: none;
}

.header__qr::before {
  position: absolute;
  top: -12px;
  right: 0;
  left: 0;
  height: 20px;
  width: 100%;

  /* background-color: red; */
  display: block;
  content: "";
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.header__qr-link:nth-child(odd) {
  margin-left: 11px;
}

.header__qr-link:nth-child(even) {
  margin-right: 11px;
}

.header__qr-dowload-img {
  height: 16px;
}

/* Header Notify */

.navbar__item--show-notify:hover .header__notify {
  display: block;
}

.header__notify::before {
  position: absolute;
  top: -32px;
  right: 20px;

  border-width: 20px 24px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;

  content: "";
  display: block;
}

.header__notify::after {
  position: absolute;
  top: -20px;
  right: 0;

  height: 20px;
  width: 88px;

  /* background-color: red; */
  content: "";
  display: block;
}

.header__notify {
  position: absolute;
  top: 150%;
  right: 0;
  width: 404px;

  border: 1px solid #d3d3d3;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);

  transform-origin: calc(100% - 20px) top; /*decision the point to scale*/
  animation: headerNotifyGrowth ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
  z-index: 1;
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header > h3 {
  line-height: 40px;
  margin: 0 0 0 12px;

  font-weight: 400;
  font-size: 1.4rem;
  color: #999;

  cursor: default;
  user-select: none;
}

.header__notify-list {
}

.header__notify-item {
  display: flex;
}

.header__notify-item--viewed {
  background-color: #fff2ee;
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-link {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  padding: 12px;
  text-decoration: none;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
}

.header__notify-desc {
  margin-top: 8px;
  font-size: 1.2rem;
  color: #757575;
}

.header__notify-footer {
}

.header__notify-footer-btn {
  display: block;
  padding: 8px 0;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  color: var(--black-color);
}
.header__notify-footer-btn:hover {
  background-color: #f7f7f7;
  color: rgba(0, 0, 0, 0.3);
}

/* Authen modal */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
}

.auth-form__container {
  padding: 32px;
}

.auth-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}
.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
}
.auth-form__form {
}

.auth-form__group {
}

.auth-form__input {
  width: 100%;
  height: 40px;

  margin-top: 16px;
  padding: 0 12px; /*space for character in input*/
  border-radius: 4px;
  border: 1px solid var(--border-color);

  font-size: 1.2rem;
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 16px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls > .btn:nth-child(1):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.auth-form__socials {
  padding: 12px 32px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__socials-fb {
  background-color: #1877f2;
  color: var(--white-color);
}

.auth-form__socials-gg {
  background-color: var(--white-color);
  color: var(--text-color);
  margin-left: 0 !important;
}

.auth-form__socials-title {
  margin-left: 16px;
  font-size: 1.2rem;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

/* Login form */
.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 22px;
  border-left: 1px solid #eaeaea;
  margin: -2px 8px 0;
}

.auth-form__help-link--primary-color {
  color: var(--primary-color);
}

/* Header with search */

.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header__logo {
  width: 200px;
}

.header__logo-img {
  width: 162px;
}

.header__search {
  flex: 1;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 4px;

  display: flex;
  align-items: center;
}

.header__search-input {
  flex: 1;
  height: 100%;
  padding: 0 16px;
  border-radius: 4px;

  font-size: 1.4rem;
  color: var(--text-color);
  border: none;
  outline: none;
}
.header__search-select {
  display: flex;
  align-items: center;
  line-height: 2.6rem;

  padding-left: 16px;
  border-left: 1px solid #e8e8e8;
  font-size: 1.4rem;

  position: relative;
}

.header__search-select-icon {
  color: #838383;
  margin: 0 16px;
}

.header__search-option {
  position: absolute;
  top: 100%;
  right: 0;
  width: 130px;
  margin: 12px 0;
  border-radius: 4px;

  box-shadow: var(--box-shadow);
  list-style: none;
  /* overflow: hidden; */
  display: none;
}

.header__search-option-item::before {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  height: 20px;

  display: block;
  content: "";
}

.header__search-option-item {
  background-color: var(--white-color);
  font-size: 1.4rem;
  display: block;
  text-align: right;
  padding: 8px 0;
}

.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-item > i {
  font-size: 1.2rem;
  margin: 0 16px;
  color: var(--primary-color);
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-btn {
  padding: 8px 24px;
  background-color: var(--primary-color);
  border-radius: 4px;
  margin: 0 4px;
}

.header__search-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__search-btn-icon {
  color: var(--white-color);
  font-size: 1.5rem;
}

.header__cart {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 150px;
  text-align: center;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
}
