/* Mobile & Tablet */
@media only screen and (max-width: 63.9375em) {
  :root {
    --header-height: 68px;
    --navbar-height: 0px;
  }

  .hide-on-mobile-tablet {
    display: none;
  }
  .header__logo-img {
    width: 120px;
    margin-right: 20px;
  }

  .header__cart-container {
    position: fixed;
    top: var(--header-height);
    width: 100%;
    right: 0;
  }
  .header__cart-container::after {
    display: none;
  }
  .header__cart-list {
    max-height: 22vh;
  }

  .app__container {
    margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    padding-top: 12px;
  }

  .header__sort-bar {
    display: flex;
  }

  .mobile-category {
    display: block;
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .hide-on-tablet {
    display: none;
  }

  .header__cart {
    width: 80px;
    text-align: right;
  }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  .hide-on-mobile {
    display: none;
  }

  .header__search {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: var(--header-sort-bar-height);

    padding: 0 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, rgba(0, 0, 0, 0.2));
    animation: mobileSearch linear 0.2s;

    z-index: 1;
    display: none;
  }

  @keyframes mobileSearch {
    from {
      top: calc(var(--header-height) / 2);
      opacity: 0;
    }
    to {
      opacity: 1;
      top: var(--header-height);
    }
  }

  .header__search-checkbox:checked ~ .header__search {
    display: flex;
  }

  .header-with-search {
    justify-content: space-between;
  }

  .header__mobile-search {
    display: block;
  }

  .header__logo-img {
    margin-right: 0px;
  }

  .header__cart {
    width: unset;
  }

  .header__search-history {
    position: fixed;
    top: calc(var(--header-height)+ var(--header-sort-bar-height));
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .pagination-item {
    margin: 0 2px;
  }

  .pagination-item__link {
    --height: 24px;
    min-width: 32px;
    font-size: 1.6rem;
  }

  .app__content {
    margin: 0 4px;
  }

  .footer__content {
    padding: 0 16px;
  }

  .footer__heading {
    text-align: center;
  }
  .footer-item__link,
  .footer__download {
    justify-content: center;
  }

  .footer__download {
    margin-top: 16px;
  }
}
